* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}
/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-nav-header {
  background-color: purple;
}
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: lime;
}
.playlist {

}
.main-nav-footer {
  background-color: brown;
}

/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  font-size: 20px;
  background-color: white;
}
.lista-main-top {
  margin-top: 110px;
  text-align: center;
}
.lista-main-top li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.recently-played {
}
.container-flex-song {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-flex-song .album {
  height: 90px;
  width: 90px;
  background-color: red;
}
/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}
