* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}
/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: blue;
}
/* main nav header */
.main-nav-header {
  margin-bottom: 20px;
}
.main-nav-header h2 {
  font-size: 30px;
  padding-top: 15px;
}
.fa-spotify {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 5px;
  font-size: 45px;
  vertical-align: middle;
  padding-bottom: 15px;
}
.fa-home, .fa-search, .fa-bookmark {
  padding-left: 15px;
  font-size: 20px;
  padding-bottom: 8px;
  padding-right: 3px;
  color: #919496;
}
.menu-spotify a {
  color: #919496;
  text-decoration: none;
}
.menu-spotify a:hover {
  color: rgb(187, 197, 200);
}
.menu-spotify i:hover {
  color: rgb(187, 197, 200);
}
/* /main nav header */
/* crea lista */
.fa-plus-square {
  font-size: 35px;
  color: #919496;
  padding-top: 5px;
}
.fa-plus-square:hover {
  color: rgb(187, 197, 200);
}
.title-playlist {
  padding-left: 15px;
}
.title-playlist a {
  font-size: 20px;
  color: #919496;
  text-decoration: none;
  margin-left: 10px;
}
.title-playlist a:hover {
  color: rgb(187, 197, 200);
}
/* /crea lista */
/* main-nav-main */
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: lime;
}
.playlist {
  margin-top: 15px;
  padding-left: 15px;
}
.playlist li{
  list-style: none;
  padding-bottom: 15px;
}
/* /main-nav-main */
/* main-nav-footer */
.main-nav-footer {
  background-color: brown;
}
.main-nav-footer p, h4{
  display: inline;
  margin-left: 5px;
}
.container-nav-footer {
  padding: 15px;
}
.container-nav-footer h4{
  font-weight: bold;
  font-size: 15px;
}
.container-nav-footer i {
  margin: 5px 0;
}
.fa-user-circle {
  font-size: 25px;
  vertical-align: middle;
}
.fa-arrow-circle-down {
  font-size: 13px;
}
.margin-navfooter-10 {
  padding-left: 5px;
}
/* main-nav-footer */


/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 20px;
}
.btn {
  display: inline-block;
  font-size: 15px;
  background-color: inherit;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid rgb(187, 197, 200);
  color: rgb(187, 197, 200);
  text-decoration: none;
}
.lista-main-top {
  margin-top: 110px;
  text-align: center;
}
.lista-main-top li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.recently-played {

}
.container-flex-song {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.album {
  height: 150px;
  width: 150px;
  background-color: red;
  margin: 10px 0;
}
.container-flex-mix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.in {
  background-color: blue;
  padding: 40%;
}
/* footer */
/* .footer {
  width: 100%;
  height: 90px;
  background-color: pink;
} */
